@{
    ViewData["Title"] = "Obrigado";
}

<div class="bg-white min-h-screen py-24">
    <div class="container mx-auto px-4 max-w-2xl text-center space-y-6">
        <h1 class="text-5xl font-serif">Obrigado por se inscrever!</h1>
        <p class="text-xl">Clique abaixo para baixar seu material.</p>
        <a href="#" class="block bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">Download do PDF</a>
        <a href="#" class="block bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">Ouça o Áudio</a>
        <p class="mt-8">Quer ir mais fundo? Em breve abrirei inscrições pro Mini Curso Primeira Virada Mental.</p>
    </div>
</div>
